.KioskCtrl{

  .status {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 20px;
    color: $interface-txt-base;
    border-bottom: 4px solid $interface-bg-light;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
  }

  .txt-light {
    color: $interface-txt-light;
  }

  #challenges{

    span.challenge {
      font-size: 28px;
      color: $interface-txt-light;
      margin-bottom: 20px;
      display: inline;
      float: left;

    }
    .reward {
      float: right;

      span {
        font-size: 15px;
        float: right;
        width: 100%;
        text-align: right;
        color: $interface-txt-btc-base;
        b {
          color: $interface-txt-btc-light;
        }
      }
    }

    ul{
      border: none;
      margin-top: 5px;
      padding: 0;
      li {
        width: 100%;
        display: inline-block;
        height: 50px;
        background-color: $interface-bg-dark;
        margin: 0;
        padding: 10px;
        // padding-left: 0;
        vertical-align: middle;
        span{
          border: none;
          border-radius: 0;
          color: $interface-txt-base;
        }
        span:hover{
          border: none;
          color: $interface-txt-light;
        }
        .reward>span{
          font-size: 12px;
        }
      }
    }
  }

  button.close {
    color: $interface-txt-light;
  }

  .thing-form {
    margin: 20px 0;
    input {
      height: 35px;
    }
    button, button>span {
      color: white;
    }
    button {
      background-color:  $interface-txt-link;
      border: 2px solid $interface-bg-light;
    }
  }
}
