// Background Colors
$interface-bg-darker:                   #242529;
$interface-bg-dark:                     #242529;
$interface-bg-base:                     #333642;
$interface-bg-semi-light:               #333745;
$interface-bg-light:                    #4C5266;

// Text
$interface-txt-dark:                    #7D818F;
$interface-txt-base:                    #AAAFC2;
$interface-txt-light:                   #E3E9FF;
$interface-txt-link:                    #44a1e3;
$interface-txt-btc-light:               #CCB3F6;
$interface-txt-btc-base:                #A88FDD;

// Buttons
$btn-text:                              #fff;
$btn-text-alt:                          #000;

$btn-facebook-background:               #3B5998;
$btn-facebook-background-highlight:     #133783;

$btn-twitter-background:                #2daddc;
$btn-twitter-background-highlight:      #0271bf;

$btn-github-background:                 #fafafa;
$btn-github-background-highlight:       #ccc;

$btn-google-plus-background:            #dd4b39;
$btn-google-plus-background-highlight:  #c53727;
